doctype html
html
    head
        title= title
    body
        h1= message
        ul 
            each item in questions
                li= item
        form(action="questions/add", method="post", id="form-add")
            div
                label(for="question") question : 
                input(required type="text", name="question" id="form-question")
            div
                label(for="answer") good answer : 
                input(required type="text", name="answer",id="form-answer")
            div false answers : 
                button(type="button" onclick="append_answer()") add a false answer 
                ul(id="false-answers")
                    

                    
                
            button(type="button" onclick="send_question()") add question
        script(src="questions.js")